{%  extends "show/base.html.twig" %}
{% block headtitle %}
    <h1 class="my-4">Create
        <small>Eheh</small>
    </h1>
{% endblock headtitle %}

{% block content %}
    {#{{ form(showForm) }}#}

    {{ form_start(showForm, {"attr":{"novalidate":"novalidate" }}) }}
    {#{{ form_widget(showForm) }}#}
    {#{{ form_row(showForm.name) }}#}
    {{ form_label(showForm.name) }}
    {{ form_widget(showForm.name) }}
    {{ form_errors(showForm.name) }}
        {{ form_rest(showForm) }}
        <input type="submit" value="Create">
    {{ form_end(showForm) }}


{% endblock %}