{%  extends "show/base.html.twig" %}
{% block headtitle %}
    <h1 class="my-4">All
        <small>Shows</small>
    </h1>
{% endblock headtitle %}
{% block content %}

    {% for s in show %}
    <!-- Blog Post -->
    <div class="card mb-4">
        <img class="card-img-top" src="{{  asset('upload/'~s.image)}}" alt="Card image cap">
        <div class="card-body">
            <h2 class="card-title">{{s.name}}</h2>
            <p class="card-text">{{s.abstract}}</p>
            <a href="#" class="btn btn-primary">Read More &rarr;</a>
            <form action="{{ path('show_delete')  }}" method="POST">
                <input type="hidden" name="show_id" value="{{ s.id }}">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete_show') }}">
                <button href="{{ path('show_delete') }}" type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
        <div class="card-footer text-muted">
            Created the {{s.date|date('Y-m-d')}} by
            <a href="#">{{s.author}}</a>
        </div>
    </div>

        {% endfor %}
    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
        </li>
    </ul>
{% endblock content %}